<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Unity Data Analysis</title>

    <script src = "https://cdn.plot.ly/plotly-3.0.1.min.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>User Submission Form and Interactive Plot</h1>
    <form id="submissionForm">
        <label for="timestamp">Timestamp:</label>
        <input type="hidden" id="timestamp" name="timestamp" value=""><br><br>
        
        <label for="levelNumber">Level Number:</label>
        <input type="hidden" id="levelNumber" name="levelNumber" value=""><br><br>
        
        <button type="submit">Submit</button>
    </form>

    <div id="message"></div>

    <h1>Path Positions Plot</title>
    <img src="{{ url_for('static', filename='path_positions_plot.png') }}" alt="Path Positions Plot">
    
    <script>
        // Function to generate a random level number
        function getRandomLevel() {
            return Math.floor(Math.random() * 3) + 1; // Generates a random number between 1 and 3
        }

        // Function to get the current timestamp in ISO format
        function getCurrentTimestamp() {
            return new Date().toISOString().slice(0, 19).replace('T', ' '); // Formats current time as YYYY-MM-DD HH:MM:SS
        }

        document.getElementById('submissionForm').addEventListener('submit', function(event) {
            event.preventDefault();
            
            // Set the current time and random level number as values in the form
            document.getElementById('timestamp').value = getCurrentTimestamp();
            document.getElementById('levelNumber').value = getRandomLevel();
            
            var formData = new FormData(this);
            
            fetch('/submit', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('message').textContent = data.message;
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('message').textContent = 'An error occurred. Please try again later.';
            });
        });
</script>
</body>
</html>
